body{
    display: flex;
}
#sidebar{
    width: 10%;
    height: 100%;
    background-color: black;
}
#SettingsMenu{
    width:20%;
    height: 100%;
    padding-left: 10px;
}
.menu_item{
    display: inline-block;
    width: 100%;
    padding: 5px;
}