body{
    display: flex;
}
#sidebar{
    width: 10%;
    height: 100%;
    background-color: black;
}
#SettingsMenu{
    width:20%;
    height: 100%;
    padding-left: 20px;
}
.menu_item{
    display: inline-block;
    width: 100%;
    padding: 15px;
}
#invoice_background{
    width: 50%;
    
    background: #4087F3;

    border-radius: 16px;
    display: flex;
}
#settings_invoice{
    display: flex;
    margin-top: 50px;
    width: 50%;
    height: 100%;
    background-color: blue;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow-y: scroll;
    padding-top: 50px;
    
}