*{
    padding: 0;
    margin: 0;
}
:root{
    --primary: #4087F3;
    --link: #01C7F2;
    --input_black: #36393F;
    --bg_trans: #36393f4b;
    --submit_bg: #303339;
    --btn_bef: #4088f3d3;
    --lang_col: #35373d;
}
#tray{
    display: flex;
    background-color: #191919;
    flex-direction: column;
    width: 5%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    height: 100vh;
}
.item{
    padding: 2px;
    color: white;
    filter: grayscale(100%) brightness(200%);
    cursor: pointer;
}

.item:hover{
    filter: grayscale(0%);
    /* border: 1px solid rgb(192, 192, 192); */
}
.group{
    filter: grayscale(0%);
}
.group:hover{
    background-color: none;
}
#tray_exp{
    display: flex;
    flex-direction: column;
    width: 14%;
    background-color: #191919;
    height: 100vh;
    justify-content: space-evenly;
    
}
.tray_itm a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.tray_itm a:hover{
    
    color: #4087F3;
}
.shopezy_tile{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 32px;
    font-weight: lighter;
    padding: 0 15px;
}
#profile{
    height: 10%;
    position: relative;
    top: 50px;
    align-self: flex-end;
    color: white;
    background-color: #36393F;
    display: flex;
    align-items: center;
    filter: grayscale(0%);
    padding: 20px 2px;
    
}
.prof_text h3{
    font-size: 20px;
    font-weight: lighter;
}
.prof_text p{
    font-size: 12px;
    font-weight: 100;
}
#close_btn{
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#close_btn:hover{
    background-color: red;
}
#dashbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    background-color: rgb(180, 178, 178);
    margin: 0 auto;
    padding: 10px 10px;
}
#contents{
    display: flex;

}
#top_part{
    display: flex;
    background-color: var(--primary);
    border: 0;
    border-radius: 5px;
    padding: 30px 100px;
    justify-content: space-between;
}
#Shopezy_title_{
    text-align: right;
    display: flex;
}
.user_img{
    display: flex;
    flex-direction: column;
    border: 2px solid lightblue;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 70px;
}
.ShopEzy_heading{
    font-weight: lighter;
}
#user_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#user_info p{
    
    font-size: 20px;
    font-weight: lighter;
    color: white;
}
#user_info h2{
    text-transform: uppercase;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
.icons img{
    margin-right: 30px;
}