body{
    margin: 0;
}
:root{
    --primary: #4087F3;
    --link: #01C7F2;
    --input_black: #36393F;
    --bg_trans: rgba(0, 0, 0, 0.5);
    --submit_bg: #303339;
    --btn_bef: #4088f3d3;
}
body{
    
    object-fit: cover;
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
}
.container{
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    height: 450px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    display: flex;
    background-color: var(--bg_trans);
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 4px 4px rgb(134, 134, 134);
}
.welcome{
    justify-self: center;
    align-self: center;
    padding: 5px;
}
.ab{
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}
.need a{
    text-decoration: none;
    color: var(--link);
}
.submit{
    background: var(--submit_bg);
    width: 415px;
    height: 41.17px;
    border: 1px solid #222428;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    bottom: 20px;
    padding: 0px 4px;
}
.btn{
    color: white;
    background-color: var(--btn_bef);
    width: 415px;
    height: 45.28px;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: var(--primary);
}
.need{
    text-align: left;
    font-size: 12px;
}